body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.top-column {
    display: flex;
    flex-direction: column;
    background-color: #F8F6F4;
    justify-content: center;
    padding: 5rem;
}

.mid-column {
    background-color: #E3F4F4;
}

.bottom-column {
    display: flex;
    flex-direction: column;
    background-color: #D2E9E9;
  }

/*Flex-basis is initial size of element and applied to element itself. Grow/shrink apply to the flex container and how it manages all of its elements*/
.left-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-image: url(./images/prophet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    margin-top: 200px;
    background-color: rgba(226, 133, 133, 0.3);
}

.logo-container > img {
    width: 200px;
    height: 200px;
}


@font-face { font-family: Norse; src: url('Norse-Bold.otf'); } 

#logo-text {
    font-family: Norse;
    display: flex;
    font-size: 96px;
    align-items: center;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 60%
}

.right-side > * {
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    height: 33.3%;
}

.top-column > p {
    /* font-size: calc((2vw + 2vh) / 2.5); */
    font-size: 2.25vmin;
    font-weight: bold;
}

.mid-column > form {
    display: flex;
}

#form-header {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: 1rem;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 20px;
    margin-right: 10px;
}

.form-left > label, .form-right > label {
    margin-bottom: 2px;
}

.form-left > input, .form-right > input {
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
}

input:invalid:focus {
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
}
  
  input:valid {
    outline: none;
    border: 3px solid green;
    border-radius: 5px;
  }

  .bottom-column > * {
    margin-left: 20px;
    margin-top: 20px;
  }

  #submit-button {
    height: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f5f0c9;
    font-size: 18px;
    font-weight: bold;
  }