body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

/*Flex-basis is initial size of element and applied to element itself. Grow/shrink apply to the flex container and how it manages all of its elements*/
.left-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-image: url(./images/prophet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-basis: 300px;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.7);

}

.logo-container > img {
    width: 200px;
    height: 200px;
}

#logo-text {
    display: flex;
    font-size: 48px;
    align-items: center;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 60%
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.right-side > * {
    height: 33.3%
}